<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&display=swap">
		<link rel="stylesheet" href="css/recipe.css">
		<title>Search</title>
	</head>
	<body class="d-flex flex-column">

		{{#if user}}
			{{>auth_nav}}
		{{else}}
			{{>unauth_nav}}
		{{/if}}

		<div class="container flex-fill">
			{{!-- Image, title and infos --}}
			<div class="row">
				<div class="col-md">
					<h2>{{response.title}}</h2>
					<img src="{{response.image}}" class="img-fluid" alt="{{response.title}}">
				</div>
				<div class="col-md">
					<ul>
						<li>Ready in {{response.readyInMinutes}} minutes.</li>
						<li>Servings: {{response.servings}}.</li>
						{{#if response.dishTypes}}
							<li>Dish types:
								<ul class="details-ul">
									{{#each response.dishTypes}}
										<li>{{this}}</li>
									{{/each}}
								</ul>
							</li>
						{{/if}}
						{{#if response.cuisines}}
							<li>Cuisines:
								<ul class="details-ul">
									{{#each response.cuisines}}
										<li>{{this}}</li>
									{{/each}}
								</ul>
							</li>
						{{/if}}
						{{#if response.winePairing.pairedWines}}
							<li>Wine Pairing:
								<ul class="details-ul">
									{{#each response.winePairing.pairedWines}}
										<li>{{this}}</li>
									{{/each}}
								</ul>
							</li>
						{{/if}}
						{{#if response.winePairing.pairingText}}
							<li class="wine-pairing-text"><p>{{{response.winePairing.pairingText}}}</p></li>
						{{/if}}
					</ul>
				</div>
			</div>

			{{!-- Instructions --}}
			<div class="row">
				<div class="col-12">
					<p>{{{response.summary}}}</p>
				</div>
			</div>


			{{!-- Source --}}

		</div>

		<!-- Bootstrap's required scripts. -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
