<ul class="list-group">
	{{#each results}}
		<li id="li-{{this.id}}" class="list-group-item">
			<a href="/recipe?id={{this.id}}">
				<img src={{this.image}} class="img-fluid recipe-img">
				<span class="recipe-name">{{this.title}}</span>
			</a>
			<button id={{this.id}} class="remove-button btn btn-dark float-right">Remove</button>
		</li>
	{{/each}}
</ul>
