{{!-- Pagination menu to navigate search result pages. --}}
<nav class="d-flex justify-content-center">
	<ul class="pagination m-0">
		{{#each pagination}}
			{{#if this.current}}
				<li class="page-item active {{this.required}}">
					<span class="page-link">{{{this.text}}}</span>
				</li>
			{{else}}
				<li class="page-item {{this.required}} {{#if this.blocked}}disabled{{/if}}">
					<a class="page-link" href={{this.dest}}>{{{this.text}}}</a>
				</li>
			{{/if}}
		{{/each}}
	</ul>
</nav>
