{{!-- Render search results on search.hbs view. --}}
{{#each results}}
	<div class="card">
		<div class="card-header">
			<h5>{{this.title}}</h5>
		</div>
		<div class="card-body row">
			<div class="col-lg-4">
				<img src="{{this.image}}" class="img-fluid recipe-list-img" alt="{{this.title}}">
			</div>
			<div class="col-lg-8">
				<p class="recipe-summary">{{{this.summary}}}</p>
			</div>
		</div>
		{{#if this.dishTypes}}
			<div class="card-footer">
				{{#each this.dishTypes}}
					<span class="badge badge-pill badge-success text-wrap">{{this}}</span>
				{{/each}}
			</div>
		{{/if}}
	</div>
{{/each}}
