{{!-- Render search results on search.hbs view. --}}
{{#each results}}
	<div class="card">
		<div class="card-header">
			<h5>
				<a href="/recipe?id={{this.id}}">
					{{{this.title}}}
				</a>
			</h5>
		</div>
		<div class="card-body">
			<a href="/recipe?id={{this.id}}">
				<img src="{{this.image}}" class="img-fluid float-left mr-3" alt="{{{this.title}}}">
			</a>
			<p>{{{this.summary}}}</p>
		</div>
		{{#if this.dishTypes}}
			<div class="card-footer">
				{{#each this.dishTypes}}
					<span class="badge badge-pill badge-success text-wrap">{{this}}</span>
				{{/each}}
			</div>
		{{/if}}
	</div>
{{/each}}
